%li
  %a.play_pause.box{href: '#'}
    %span Play / Pause
  %a.song.box{href: '#', title: 'Vote for ' + song.item.title}
    %span.title= song.item.title
    %span.artist= song.item.artist
    %span.album= song.item.album
    %marquee.voters{scrollamount: 1}
      - if (song.voters)
        != this.partial('voter.html.haml', { collection: song.voters })
  %span.votes.box= song.votes
  %audio{autobuffer: true, controls: false, autoplay: false}
    %source{src: '/public/media/mp3/' + song.item.filename + '.mp3', type: 'audio/mpeg'}
    %source{src: '/public/media/ogg/' + song.item.filename + '.ogg', type: 'audio/ogg'}